.row
  %h5.expense-heading Expenses List
  .col
    %table.table.table-hover
      %thead
        %tr
          %th Amount
          %th Reason
          %th{ colspan: 2 } Actions
      %tbody
        = render @expenses
